
    #CatedraTeam {
        background-color: #004379; 
        min-height: 500px;
        max-height: 550px; /*TODO: Reducir un poco cuando toque lo de las fotos*/
        margin-bottom: 3%;
        padding: 0;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
    }

    #CarouselExampleIndicators {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .carousel-inner-Team {
        display: flex; /* Layout the slides in a row */
        transition: transform 2s ease-in-out; 
        will-change: transform; 
        width: 100%; 
        height: 100%;
    }

    .carouselTeamItem {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-shrink: 0;
    }

    .carouselTeamItem img {
        object-fit: cover;
        min-height: 400px;
        max-height: 450px;
        max-width: 95%;
        border-radius: 10px;
    }

    .carouselTeamItem figcaption {
        padding-top: 2%;
        padding-bottom: 1%;
    }

    .carouselTeamItem figcaption h5 {
        color: #F4B429;
        font-weight: bold;
        margin: 0;
        padding: 0 1%;
    }

    .carouselTeamItem figcaption p {
        color: white;
        margin: 0;
        padding: 0 2%;
    }

    p {
        font-size: 14px;    
    }

  .gap {
    width: 3%;
  }

  button.carousel-prev-Team, button.carousel-next-Team {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }

  button.carousel-prev-Team {
    left: 10px;
  }

  button.carousel-next-Team {
    right: 10px;
  }


.carousel-P {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    overflow: hidden;
    padding-top: 1.5%;
}

.carousel-inner-P {
    display: flex;
    transition: transform 2s ease-in-out;
    will-change: transform; 
    align-items: stretch;
    max-height: 600px;
    width: 100%;
}

.carousel-item-P {
    min-width: 100%;
    height: auto;
    text-align: center;
}

.carousel-item-P img {
    width: auto;
    height: auto;
    max-height: 85%;
    object-fit: scale-down;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

#KnowWhatWeDo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004379; 
    min-height: 500px;
    max-height: 550px; 
    margin-bottom: 3%;
    border-radius: 10px;
}

.whatWeDoCaption {
    margin: 0;
    padding: 1.5%;
    background: transparent;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
    width: 100%;
    height: fit-content;
}