.exAlumniSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.exAlumniContainer {
    width: 90%;
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    background-color: #004379;
}

.exAlumniCardsContainer {
    display: flex;
    width: 100%;
    position: relative;
}

.exAlummniCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; /* Cada tarjeta ocupa todo el contenedor */
    flex-shrink: 0; /* Evita que las tarjetas se reduzcan */
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}

.exAlumniCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombreExAlumni {
    font-weight: bold;
    color: #F4B429;
}

.tituloExAlumni, .cargoExAlumni {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0.3%;
}

.exAlumniText {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    padding-left: 3%;
}

.exAlumniText p {
    text-align: center;
}


.cardActive {
    opacity: 1;
}

.imagesCardExAlumni {
    width: 60%;
    height: 65%;
}

.exAlumniBtn {
    z-index: 10;
}