.exAlumniSection {
    width: 100%;
    display: flex;
    justify-content: center;
}

.exAlumniContainer {
    width: 90%;
    display: grid;
    grid-template-columns: 0.1fr 4fr 0.1fr;
    background-color: #004379;
    align-items: center;
    gap: 10px;
    padding: 0 3%; /* Añade padding dentro del contenedor a los lados*/
}

.exAlumniCardsContainer {
    display: flex;
    width: 100%;
    position: relative;
}

.exAlummniCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; /* Cada tarjeta ocupa todo el contenedor */
    flex-shrink: 0; /* Evita que las tarjetas se reduzcan */
    transition: transform 0.5s ease-in-out;
    opacity: 0;
}

.exAlumniCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

.nombreExAlumni {
    font-weight: bold;
    color: #F4B429;
    padding-top: 0.8%;
    margin: 0;
}

.tituloExAlumni, .cargoExAlumni {
    color: white;
    margin-bottom: 0;
    padding-bottom: 0.3%;
}

.cargoExAlumni{
    padding-bottom: 4%;
}

.nombreExAlumni, .tituloExAlumni, .cargoExAlumni {
    text-align: center;
    font-weight: bold;
}

.nombreExAlumniMovil, .tituloExAlumniMovil, .cargoExAlumniMovil {
    display: none;
}

.exAlumniText {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    padding-right: 10%;
    font-size: 1.2em;
}

.exAlumniText p {
    text-align: center;
}

.cardActive {
    opacity: 1;
}

.imagesCardExAlumni {
    width: 85%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 2.5%;
}

.exAlumniBtn {
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 30% 50%; /* Padding adicional a los lados */
    cursor: pointer;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 860px) {

    .exAlumniContainer {
        grid-template-columns: 1fr; /* Elimina columnas para una sola fila */
        gap: 17%; 
        width: 100%;
    }

    .exAlumniCardsContainer {
        flex-direction: row; /* Mantén las tarjetas en fila para el slider */
        overflow-x: scroll; /* Permite scroll horizontal si es necesario */
        scroll-snap-type: x mandatory; /* Snap entre tarjetas para mejor experiencia móvil */
        -webkit-overflow-scrolling: touch; /* Suaviza el scroll en iOS */
        gap: 10px;
        scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
        scrollbar-width: auto;
    }

    .exAlummniCard {
        flex-shrink: 0;
        width: 100%; /* Tarjeta ocupa casi todo el ancho disponible */
        scroll-snap-align: center; /* Alinea la tarjeta en el centro al hacer scroll */
        margin: 0 auto; /* Centra las tarjetas */
        opacity: 1; /* Asegúrate de que todas sean visibles */
    }

    .exAlummniCardInfo p{
        margin-top: 3%;
        text-align: center;
    }

    .exAlumniBtn {
        display: none; /* Oculta los botones de navegación en pantallas pequeñas */
    }
}

@media  (max-width: 760px){
    .exAlumniContainer {
        grid-template-columns: 1fr; /* Elimina columnas para una sola fila */
        gap: 17%; 
        width: 100%;
    }

    .exAlumniCardsContainer {
        flex-direction: row; /* Mantén las tarjetas en fila para el slider */
        overflow-x: scroll; /* Permite scroll horizontal si es necesario */
        scroll-snap-type: x mandatory; /* Snap entre tarjetas para mejor experiencia móvil */
        -webkit-overflow-scrolling: touch; /* Suaviza el scroll en iOS */
        gap: 10px;
        scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
        scrollbar-width: auto;
    }

    .exAlummniCard {
        grid-template-columns: 1fr;
        flex-shrink: 0;
        width: 100%; /* Tarjeta ocupa casi todo el ancho disponible */
        scroll-snap-align: center; /* Alinea la tarjeta en el centro al hacer scroll */
        margin: 0 auto; /* Centra las tarjetas */
        opacity: 1; /* Asegúrate de que todas sean visibles */
    }

    .exAlumniText {
        display: none;
    }

    .exAlumniBtn {
        display: none; /* Oculta los botones de navegación en pantallas pequeñas */
    }

    .nombreExAlumni {
        font-size: 12px;
    }

    .tituloExAlumni, .cargoExAlumni {
        font-size: 11px;
    }

    .nombreExAlumniMovil, .tituloExAlumniMovil, .cargoExAlumniMovil {
        display: block;
    }

    .imagesCardExAlumni {
        width: 90%;
    }
}