#ContainerInnova {
    /*Position*/
    margin-top: 90px;

    /*Color*/
    background-color: #ffffff; 
    line-height: 1.6; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

h1 {
    /*Position*/
    padding-top: 5px;
}

section {
    /*Position*/
    margin: 1em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px; 
}

.sectionTitles {
    /*Color*/
    color: #004379; 

    /*Position*/
    margin-bottom: 0.5em;
}

p {
    /*Position*/
    text-align: justify; 
    margin-bottom: 1em;
    padding-bottom: 10px;
}

iframe {
    /*Color*/
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

/* Contenedor del iframe */
.iframe-container {
    display: grid;
    position: relative;
    width: 100%;
    height: 2000px; /* Altura fija para el iframe */
    overflow: hidden;
}

/* Estilo del iframe */
.iframe-element {
    width: 100%;
    height: 100%;
    border: none;
    grid-area: 1 / 1 / 2 / 2; /* Se superpone en la misma celda */
}

/* Estilo del enlace */
.iframe-link {
    grid-area: 1 / 1 / 2 / 2; /* Ocupa el mismo espacio que el iframe */
    text-decoration: none;
    background: transparent; /* Transparente para no cubrir visualmente */
    z-index: 10; /* Captura clics sobre el iframe */
}

.containerFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#004379;
    color: white;
    width: 100%;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    /*padding: 20px;*/   
}
