#ContainerInnova {
    /*Position*/
    margin-top: 90px;

    /*Color*/
    background-color: #ffffff; 
    line-height: 1.6; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

h1 {
    /*Position*/
    padding-top: 5px;
}

section {
    /*Position*/
    margin: 1em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px; 
}

.sectionTitles {
    /*Color*/
    color: #004379; 

    /*Position*/
    margin-bottom: 0.5em;
}

p {
    /*Position*/
    text-align: justify; 
    margin-bottom: 1em;
    padding-bottom: 10px;
}

iframe {
    /*Color*/
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}


.containerFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#004379;
    color: white;
    width: 100%;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    /*padding: 20px;*/   
}

.footerInfo{
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.footerInfo li{
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

.footerInfo li p a{
    color: white;
    text-decoration: none;
}


.containerSocialMediaElements{
    width: 100%;
    @media (min-width: 650px) {
        display: flex; 
    }
    list-style: none;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.socialMediaElementsIcons{
    width: 50px;
    height: 50px;
}

.containerLinksElements{
    text-align: center;
}


.footerInfo li p{
    padding-top: 15px;
}
