/*INICIO*/
.bg-image {
    background-image: url('/images/makeitupm/TitleBack.jpeg'); /* Reemplaza con tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura semitransparente */
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organiza el contenido en columna */
}

/*Rooted*/

#Rooted{
    margin-top: 4%;
    margin-bottom: 2%;
}

.containerRooted{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1%;
    margin: 2%;
    margin-top: 0;
    align-items: stretch
}

.containerRooted h3{
    color:#F4B429;
    margin-left: 3%;
    margin-top: 10px;
}

#InfoRooted {
    width: 100%;
    height: 100%;
    background-color: #004379;
}

#InfoRooted p{
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.5 rem;
}

#FotosRooted {
    width: 100%;
    height: 100%;
    background-color: #004379;
    
}

.carouselWrapper{
    display: flex;
    justify-content: center;
    max-height: 500px;
}

.carousel-Rooted{
    position: relative;
    width: 94%;
    display: flex;
    overflow: hidden;
    margin-bottom: 2%;
    
}

.carousel-inner-Rooted{
    display: flex;
    transition: transform 2s ease-in-out;
    will-change: transform;
    width: 100%;
}

.carousel-item-Rooted{
    display: flex; /* Asegura que el contenido interno sea flexible */
    flex: 0 0 100%; /* Cada item ocupa el 100% del carrusel */
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel-item-Rooted img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

@media (max-width: 1150px) {
    .containerRooted {
        grid-template-columns: 1fr; /* Los elementos se apilan */
        grid-gap: 2%; /* Ajusta el espacio entre ellos */
    }

    #InfoRooted, #FotosRooted {
        height: auto; /* Ajusta la altura automáticamente */
    }

    #InfoRooted p {
        font-size: 1rem; /* Reduce el tamaño de la fuente */
        margin-left: 5%; /* Ajusta los márgenes */
        margin-right: 5%;
    }

    #FotosRooted {
        margin-bottom: 5%; /* Ajusta el margen superior */
    }
}
/*Que hacemos*/
#QueHacemosMakeIT{
    margin: 2%;
    margin-top: 5%;
}

.sectionTitles{
    padding-left: 6%;
    color: #004379;
    font-size: 40px;
    padding-bottom: 5px;
}

.fila2QueHacemosRooted{
    align-items: center;
    justify-content: center;
}

.row{
    margin-bottom: 3%;
}

.enlaceQueHacemosRooted{
    text-decoration: none;
    color: black;
}

.cardTitle{
    color: black;
    text-align: center;
}

.enlaceQueHacemosRooted:hover {
    color: inherit;
    text-decoration: none;
}

.iconoImage{
    padding: 15px;
    width: 250px;
    height: 250px;
}

#OtherActivities {
    text-align: center;
    @media (max-width: 1560px) {
        font-size: 1.5rem;
    }
    @media (max-width: 1130px) {
        font-size: 1.25rem;
    }
    @media (max-width: 860px) {
        font-size: 1rem;
    }
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.iconoImageActivities{
    padding: 15px;
    width: 100px;
    height: 100px;
}

.card{
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.purposeTitle{
    color: #004379;
}
/*Datos*/
#DatosMakeIT{
    margin: 5% 0;
}
.containerDatos{
    position: relative;
    background-color: #004379;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 0.3%;
    overflow: hidden; /* Asegura que los hijos no se desborden */
    color: white;
}

.sectionData{
    margin-top: 2%;
    margin-bottom: 2%;
}

.sectionData h3{
    color: #F4B429;
    margin-left: 3%;
    margin-top: 10px;
}

.sectionData p{
    margin-left: 3%;
    margin-right: 3%;
}

.sectionData ul{
    margin-left: 3%;
}

#InscripcionMakeIT a{
    margin-left: 3%;

}

/*Web MakeIT*/

.containerWebMakeIT {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}
.enlaceWebMakeIT {
    text-decoration: none;
    color: white;
    margin: 3%;
    margin-top: 0.5%;
    width: 80%;
    max-height: 380px;
}

.enlaceWebMakeIT div {
    width: 100%;
    height: 100%;
    background-color: #004379;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoMakeIT {
    height: 90%;
    width: 90%;
    background-color: #004379;
}




/*FOOTER*/
 .containerFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#004379;
    color: white;
    width: 100%;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    /*padding: 20px;*/   
}
