.newsContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.newsTitle {
    padding-left: 9%;
}

.listNewsContainer, .socialMediaContainer {
    margin-bottom: 2%;
}

.listNews {
   width: 100%;
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 5%;
}


.news{
    color: black;
    background-color: #F4B429;
    width: 95%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-height: 450 px;
    margin-bottom: 2.5%;
    
}

.linkNews {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.75fr 1fr;
    text-decoration: none;
    color: black;
}

.linkNews:hover {
    text-decoration: none;
    color: black;
}

.infoNews {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    padding-right: 1%;
    padding-left: 1.5%;
    text-align: center;
}

.newTitle {
    color: #004379;
    padding: 0;
    margin: 0;
    padding-top: 1.5%;
}

.newsDate {
    padding-top: 1.5%;
    font-weight: bold;
}

.newsImage {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.newsImages {
    width: 160px;
    height: auto;
    max-height: 160px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px;
}

.listSocialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.socialMedia {
    width: 75%;
    background-color: #F4B429;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkSocialMedia {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
}  

.linkSocialMedia:hover {
    text-decoration: none;
    color: black;
}

.socialMediaImage {
    margin: 0 14%;
    margin-top: 2%;
    border: 10px solid #F4B429;
    border-bottom: 0;
    border-radius: 15px;
    background-color: #F4B429;
}

.socialMediaImageImages {
    width: 200px;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
    object-fit: contain;
}

.socialMediaTitle {
    color: white;
    margin: 0;
    padding-top: 3%;
    font-size: 15px;
    padding-left: 3%;
    padding-right: 2%;
    padding-bottom: 3%;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSocial {
    display: grid;
    grid-template-columns: 0.5fr 2.8fr;
    grid-template-rows: auto; 
    margin: 2% 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #004379;
    border-radius: 10px;
    height: auto;
    /*background-color: #F4B429;*/
}

.socialMediaLogoNews {
    height: 65px;
    width: 65px;
    padding-bottom: 5%;
    margin-right: 2%;
    align-self: center;
}

#TallerLiderazgoFoto {
    width: 100%;
    height: auto;
    border-radius: 10px;
}