/* WEB THINGS (Doesn't matter the section)*/

.sectionTitles{
    color: #004379;
}

body{
    font-family: inter;
    margin: 0;
    padding: 0;
    width: 100%;
}

body h2, body h3{
    padding-left: 10px;
}


/*HEADER*/
.containerHeader {
    font-weight: bold;  
    background-color: #004379;
    position: fixed; /*Always moving with the scroll*/
    top: 0; /*Glued to the top*/
    width: 100%;    
    height: 120px;
}

.mainTitle {
    color: #FFFFFF;
    text-align: left;   
    padding-left: 10px;
    border-bottom: 4px #F4B429;
    border-bottom-style: solid;
    width: 26%;
    margin: 5px;
}

.navigationHeader ul {
    left: 0; /*Glued to the left margin*/
    padding: 0;

    display: flex; 
    justify-content: space-around;

    list-style-type: none; /*Erase the dots of the begginning*/
}

.navigationHeader ul li a {
    width: 220px;
    height: 20px;
    box-shadow:0px 4px 3px rgba(0,0,0,.5);

    background-color: #115EA3;
    color: white; /*Color of the letters*/

    display: block; /*The display is like a box*/
    padding: 10px 16px; /*Padding between boxes*/
    border-radius: 6px;

    text-align: center;
    text-decoration: none; /*Erase the underline from the links*/
}

.navigationHeader ul li a:hover {
    height: 25px;
    width: 230px;
    background-color: #F4B429;
    color: #004379;
}

/*WHO WE ARE*/
.containerBodyWhoWeAre {
    padding-top: 100px;
    text-align: left;
}

.containerBodyWhoWeAre ul {
    text-align: center;

    display: flex;
    justify-content: space-around;

    list-style-type: none; /*Erase the dots of the begginning*/
}

/*OUR PURPOSE*/
.containerBodyOurPurpose ul {
    text-align: center;

    display: flex;
    justify-content: space-around;

    list-style-type: none; /*Erase the dots of the begginning*/
}

/*TEAM*/
.containerBodyTeam ul {
    text-align: center;

    display: flex;
    justify-content: space-around;

    list-style-type: none; /*Erase the dots of the begginning*/
}

.teamName{
    font-weight: bold;
}
/*
.teamName {
    font-weight: bold;
    background-color: #F4B429;
    color: #004379; 
    display: inline-block; /* Para que el fondo abarque solo el contenido del elemento */
    /*padding: 5px 10px; /* Espaciado dentro del recuadro */
    /*border: 1px solid black; /* Borde negro opcional */
    /*border-radius: 5px; /* Borde redondeado opcional */
/*}*/

/*FOOTER*/
/*CONTACT*/
.containerFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#004379;
    color: white;
    width: 100%;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    
}
.containerFooter ul li h3{
    color: #F4B429;
}

.containerFooter ul{
    list-style: none;
    text-align: center; /*For centering the diferent content information*/
}

.containerFooter ul li, 
.containerFooter ul li p{
    font-style: normal;
}

.containerSocialMediaElements{
    display: flex; 
    flex-direction: row; /*Put the elements of the list in a row*/
}


.containerSocialMediaElements li{
    
    margin-right: 10px;
}

.navigationFooter p a{
    text-decoration: none;
    color: #F4B429;
    font-weight: bold;
}


