/* WEB THINGS (Doesn't matter the section)*/
.sectionTitles{
    padding-left: 6%;
    color: #004379;
    font-size: 40px;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

body h2, body h3{
    padding-left: 10px;
}


/******************************************/
/*NAVIGATION HEADER*/
#ContainerHeader {
    /*Position*/
    position: fixed; 
    top: 0; 
    z-index: 3;

    /*Size*/
    width: 100%;   

    /*Color*/
    background-color: #004379;

    /*Animation*/
    transition: top 0.3s;
}

/*NAVIGATION HEADER TITLE SEPARATOR*/
#SeparatorTitle {
    /*Position*/
    height: 0.3vh;
    margin: 0;
    padding: 0;

    /*Size*/
    width: 50vh;

    /*Color*/
    background-color: #F4B429;
    border-color: #F4B429;
}
/*NAVIGATION HEADER MAIN TITLE*/
#MainTitle {
    /*Position*/
    margin-top: 0;
    padding-left: 0;

    /*Display*/
    display: flex;
    justify-content: left;
    
    /*Text*/
    list-style-type: none;
}

#MainTitle h1 {
    /*Position*/
    margin: 5px;

    /*Color*/
    color: #FFFFFF;

    /*Text*/
    text-align: left; 
    list-style-type: none;  
    font-size: 4vh;
}


/*NAVIGATION HEADER MENU*/
/*HEADER NAVIGATION HEADER MENU*/
#NavigationHeader ul {
    /*Position*/
    left: 0; 
    padding: 0;

    /*Display*/
    display: flex; 
    justify-content: space-around;

    /*Text*/
    list-style-type: none; 
}
/*HEADER NAVIGATION HEADER MENU LINKS*/
#NavigationHeader ul li a {
    /*Position*/
    width: 220px;
    height: 20px;

    /*Color*/
    color: white;
    border-radius: 6px;

    /*Display*/
    display: block; 

    /*Text*/
    text-align: center;
    text-decoration: none; 
    font-weight: bold;

}

/*HEADER SEPARATORS OF THE NAVIGATION HEADER MENU*/
#SeparatorUL {
    /*Position*/
    height: 18px;
    margin-top: 0;
    margin-bottom: 0;
}
/*HEADER SEPARATOR OF THE NAVIGATION HEADER MENU*/
#SeparatorLI {
    /*Position*/
    margin-bottom: 2px;
    margin-top: 0;

    /*Size*/
    width: 80%;

    /*Color*/
    border-color: #F4B429;
    opacity: 0;
}
/******************************************/
/*WHO WE ARE*/
.containerBodyWhoWeAre {
    /*Position*/
    padding-top: 100px;

    /*Text*/
    text-align: left;
}

/*WHO WE ARE MAIN TITLE*/
#WhoWeAreTitle {
    /*Color*/
    opacity: 0;
}

/*WHO WE ARE BACKGROUND VIDEO*/
#VideoWhoWeAre {
    /*Position*/
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;

    /*Size*/
    width: 100%;

    /*Color*/
    filter:brightness(0.8) blur(10px);
    opacity: 0.8;
}

/*WHO WE ARE LOGOS*/
.containerBodyWhoWeAre ul {
    /*Position*/
    padding: 0;
    margin-bottom: 0;

    /*Display*/
    display: flex;    
    justify-content: center;

    /*Text*/
    text-align: center;
    list-style-type: none; 
}
/*WHO WE ARE LOGOS SIZE*/
.containerBodyWhoWeAre ul li {
    /*Size*/
    width: 33%;
}
/*WHO WE ARE LOGOINNOVA*/
#RectangleLogoInnova {
    /*Position*/
    margin-top: 60%;
    margin-left: 15%;
    padding: 3%;

    /*Size*/
    width: 80%;

    /*Color*/
    background-color: #F4B429;
    border-radius: 10px 0 0 10px;
}

/*WHO WE ARE INNOVA CLICK*/
#InnovaKnowMore {
    /*Position*/
    position: absolute;
    padding-top: 5px;
    padding-right: 7px;

    /*Color*/
    background-color: #F4B429;
    border-radius: 10px;
    color: #004379;
}
/*WHO WE ARE INNOVA TEXT HOVER*/
#InnovaKnowMore:hover {
    cursor: pointer;
}
/*WHO WE ARE INNOVA TEXT*/
#InnovaKnowMoreText {
    /*Position*/
    z-index: -1;
    position: absolute;
    top: 250px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;

    /*Size*/
    width: 500px;
    height: 450px;

    /*Color*/
    background-color: #F4B429;
    border-radius: 10px 0 0 10px;
    opacity: 0;
}
/*LINK TO INNOVA'S PAGE*/
#LinkInnova {
    /*Color*/
    color: #004379;

    /*Text*/
    text-decoration: none;
    font-weight: bold;
}
/*LINK TO INNOVA'S PAGE HOVER*/
#LinkInnova:hover {
    cursor: pointer;
}

/*WHO WE ARE LOGOINNOVA*/
#LogoInnova{
    /*Position*/
    margin-left: -30%;

    /*Size*/
    width: 70%;

    /*Animation*/
    animation: slideinrightLogo 2.5s ease-in-out;
}

/*WHO WE ARE CONTAINER LOGOUPM*/
#RectangleLogoUpm {
    /*Position*/
    margin-top: 15%;
    margin-left: -5%;
    margin-right: 40%;
    padding: 3%;

    /*Size*/
    width: 90%;

    /*Color*/
    background-color: #004379;
    border-radius: 0 10px 10px 0;

    /*Animation*/
    animation: slideinleftRectangle 2.5s ease-in-out;
}
/*WHO WE ARE LOGOUPM*/
#LogoUpm{    
    /*Position*/
    margin-left: 30%;

    /*Size*/
    width: 70%;

    /*Animation*/
    animation: slideinleftLogo 2.5s ease-in-out;
}

/*WHO WE ARE LOGOCATEDRA*/
#LogoCatedra{
    /*Position*/
    margin-top: -10%;
    margin-left: -25%;

    /*Size*/
    width: 150%;

    /*Animation*/
    transition: opacity 0.5s ease-in-out;
}

/*WHO WE ARE INTROCUTION CONTAINER*/
#IntroductionContainer {
    /*Position*/
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;

    /*Color*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}
/*WHO WE ARE INTRODUCTION*/
#Introduction {
    /*Position*/
    z-index: 2;
    padding: 20px;

    /*Text*/
    text-align: justify;
}

/*WHO WE ARE SLOGAN CONTAINER*/
#SloganContainer {
    /*Position*/
    z-index: 1;
    padding-top: 50px;  
    margin-bottom: 0;

    /*Color*/
    border-bottom: 5px solid #004379;
}
/*WHO WE ARE SLOGAN*/
#Slogan{
    /*Position*/
    padding-top:350px;
    padding-bottom: 100px;

    /*Color*/
    color: #004379;

    /*Text*/
    font-weight: bold;
    font-style: italic;
    font-size: 55px;
    text-align: center;

    /*Animation*/
    animation: fadeIn 3s ease-in-out;
}
/*WHO WE ARE SLOGAN BACKGROUND*/
#SloganBC {
    /*Position*/
    z-index: -1;
    position: absolute;
    
    /*Size*/
    width: 100%;

    /*Color*/
    display: none;
    filter: blur(5px);  
}

/******************************************/
/*OUR PURPOSE*/
.containerBodyOurPurpose {
    padding-top: 20px;
    background-color: white
}

.containerBodyOurPurpose ul {
    text-align: center;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*The items can be in diferents rows*/

    list-style-type: none; /*Erase the dots of the begginning*/
}

.purposeTitle{
    color: #004379;
}

.image-container {
    z-index: 1;
    position: relative; /* Importante para posicionar el tooltip */
    display: inline-block; /* Para que el tooltip abarque solo el tamaño de la imagen */
    height: 325px;
    width: 325px;
}

/* Estilo del tooltip */
.tooltip {
    position: absolute;
    /*background-color: #EEEEEE;*/
    background-color: #004379;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    visibility: hidden; /* Ocultar el tooltip inicialmente */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; /* Agrega un scroll vertical si es necesario */
    font-size: 18px;
    display: flex;
    align-items: center;
}

.tooltip p {
    color: #FFFFFF;
}

.tooltip::-webkit-scrollbar {
    width: 0;
}

/* Estilo del tooltip cuando se pasa el cursor sobre la imagen */
.image-container:hover .tooltip {
    visibility: visible; /* Mostrar el tooltip */
    opacity: 1;
}

.iconsOurPurpose{
    height: 90%;
    width: 90%;
}

.highlightY{
    font-weight: bold;
    color: #F4B429;
    font-size: 20px;
}


/******************************************/
/*TEAM*/
.containerBodyTeam {
    /*Position*/
    padding-top: 20px;
    margin-left: -10px;
}

/*TEAM CONTAINER*/
.containerBodyTeam ul {
    /*Position*/
    /*padding-top: 30px;/*TODO:*/
    padding-left: 0px;

    /*Display*/
    display: flex;
    justify-content: space-around;

    /*Text*/
    text-align: center;
    list-style-type: none; /*Erase the dots of the begginning*/
}
/*TEAM CONTAINER CHILD ONE = TEAM GROUP PHOTO*/
#liTeamPhotosGroup {
    /*Position*/
    padding: 20px;
    padding-left: 10%;

    /*Size*/
    width: 66%;
    height: 720px;

    /*Color*/
    background-color: #004379;
    border-radius: 10px;
}
/*TEAM PHOTO GROUP*/
#TeamPhotosGroup {
    /*Size*/
    width: 100%;

    /*Color*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);    
}
/*TEAM PHOTO TEXT*/
#TeamPhotosGroupFig {
    /*Display*/
    display: block;

    /*Color*/
    color: white;

    /*Text*/
    text-align: center;
}

/*TEAM VERTICAL SEPARATOR*/
#liVerticalSeparator {
    /*Position*/
    margin-left: 1.5%;
    margin-right: 1.5%;

    /*Size*/
    width: 0.18%;

    /*Color*/
    background-color: #F4B429;
}

/*Person photo*/
#liTeamPhotosPerson h3 {
    /*Position*/
    margin:0;

    /*Color*/
    color: white;
}

#ButtonLeft {
    /*Size*/
    height: 600px;

    /*Text*/
    font-size: 300%;
    color: white;

    /*Color*/
    background-color: #0a5a9c;
    border-color: #004379;
    border-radius: 5px;
    border-width: 1.5px;
}

.containerBodyTeam ul li:nth-child(3) ul li:nth-child(2) {
    /*Size*/
    width: 80%;
}

#TeamPhotosPerson {
    /*Size*/
    width: 100%;
    max-width: 100%;

    /*Display*/
    display: flex;
    align-items: center;

    /*Color*/
    opacity: 1;
}

#TeamPhotosPersonFig {
    /*Display*/
    display: block;

    /*Color*/
    color: white;
    opacity: 1;

    /*Text*/
    text-align: center;

    /*Position*/
    padding-top: 5px;
}

#liTeamPhotosPerson {
    /*Size*/
    height: 720px;
    width: 30%;
    max-width: 30%;
    max-height: 720px;
    margin: 0;

    /*Position*/
    padding: 20px;

    /*Color*/
    background-color: #004379;
    border-radius: 10px;
}

#liTeamPhotosPerson ul {
    /*Position*/
    padding: 3%;
}

#ButtonRight {
    /*Size*/
    height: 600px;

    /*Text*/
    font-size: 300%;
    color: white;

    /*Color*/
    background-color: #0a5a9c;

    border-color: #004379;
    border-radius: 5px;
    border-width: 1.5px;
}

/******************************************/
/*EXALUMNI*/
.containerBodyUPM {
    margin-top: 5%;
}
.exAlumniInfoContainer{
    background-color: #004379;
    margin-right: 9%;
    margin-left: 9%;
}

.subSectionTitle{
    /*padding-left: 6%;*/
    color: #004379;
    font-size: 32px;
    text-align: center;
}

.exAlumniInfoContainer ul{
    display: flex;
    flex-direction: row;
    background-color: #004379;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    height: 100%;
}


.exAlumniInfoContainer ul li{
    list-style-type: none;
    margin-left: 2%;
    margin-right: 2%;
}

.experienceInnova-TSNContainer, .personalInfoExAlumni{
    width: 30%;
}

.exAlumniPhotoContainer{
    display: flex;
    align-items: center; /* Agrega esta línea para centrar verticalmente la imagen */
}

.exAlummniPhoto{
    margin-bottom: 10%;

}

.personalInfoExAlumni{
    margin: 0;
    text-align: left;
    width: auto;
}

.personalInfoExAlumni h4{
    color:#F4B429 ;
    font-weight: bold;
    font-size: 18px;
}

.upmDegree{
    font-weight: bold;
}

.positionInnova-TSN{
    font-weight: bold;
}

.experienceInnova-TSNContainer{
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
}

.experienceInnova-TSN{
    margin-top: 0;
    font-style: italic;
}

.buttonRightLi, .buttonLeftLi {
    display: flex;
    align-items: center;
}

.buttonExAlumni
{
    height: 50%;

    font-size: 300%;
    color: white;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: #0a5a9c;

    border-color: #004379;
    border-radius: 5px;
    border-width: 1.5px;

}

#ButtonLeftExAlumni{

}

#ButtonRightExAlumni{

}

/*
.containerBodyUPM ul li p{
    margin-left: 15px;
}

#bck_Exalumni{
    background-color: #004379;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
}
*/

/*LINEOFRESEARCH*/
.containerBodyLineOfResearch {
    padding-top: 20px;
}

/*EVENTS*/
/*EVENTS*/
.containerBodyEvents {
    padding-top: 20px;
}
.eventsFrame{
    width: 90%; /* width of the div */
    height: 400px; /* height of the div */
    overflow: auto; /* Allows to scroll in the div */
    background-color: #EEEEEE;
    background-color: #004379;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.eventsFrame::-webkit-scrollbar
{
    width: 0;
}
.yearEvents, .monthsEvents, .monthsEventsList{
    list-style-type: none;
}
.monthsEventsList {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila */
    list-style: none;
    padding: 0;
    
  }
.events{
    background-color: #F4B429;
    height: 150px;
    width: 200px;
    margin-right: 50px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Oculta cualquier desbordamiento del contenido */
    position: relative; /* Añade posición relativa al botón */
}
.events:hover {
    overflow: auto; /* Activa el desplazamiento interno al pasar el mouse */
}
.events::-webkit-scrollbar {
    width: 0; /* Oculta las barras de desplazamiento de WebKit (Chrome, Safari, etc.) */
}
.events .eventDescription{
    flex: 1;
}
.eventsLine{
    border-color: #F4B429; /*Color de las lineas que separan meses y años*/
}
/*How to style de years*/
.yearEvents h3{
    font-size: 20px;
    color: #F4B429;
    font-weight: bold;
}
/*How to style de months*/
.monthsEvents li h4{
    font-size: 18px;
    color: #F4B429;
}
/*How to style de days and hours*/
.monthsEventsList li h5{
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #004379;
    margin-left: 3px;
}
.hourEvents{
    font-weight: bold;
    font-size: 15px;
    color: #004379;
    margin-left: 3px;
}
.events p{
    margin-left: 3px;
}
/*WHERE TO FIND US*/
.containerBodyWhereToFindUs p{
    padding-left: 10px;
    padding-bottom: 15px;
}
.contactMap {
    margin: 0 auto;
    text-align: center; /* Alinea el contenido del div al centro */
    padding-bottom: 20px;
}
/*NEWS*/
/*NEWS*/
.containerBodyNews {
    padding-top: 20px;
  }
  .listNews li a{
    text-decoration: none;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    
  }
  .listNews{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .listNews li{
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
  }
  
  .newsPanel{
    color: black;
    text-decoration: none;
    background-color: #FFFFFF;
    background-color: #F4B429;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0;
    padding: 0;
  }
  .newsStructure{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    /*justify-content: space-between; /* Distribuye los elementos de manera equidistante */
    margin: 0; /* Elimina el margen exterior de la lista */
    padding: 0; /* Elimina el relleno de la lista */
  
    width: 100%;
    height: 100%;
  }
  .newsStructure li {
    flex-basis: calc(33.33% - 5%); /* Establece el ancho de cada elemento (1/3 del ancho con un espacio de 10px entre ellos) */
    text-align: center; /* Centra el contenido horizontalmente */
    margin-right: 5%;
    margin-left: 0;
    margin-top: 0;
    height: 100%;
  
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra los elementos verticalmente */
  }
  
  
  .newsImages{
    width: 80%;
    height: 80%; 
    margin: auto; /* Centra la imagen horizontal y verticalmente */
    
  }
  .newsStructure li p{
    font-weight: bold;
    }

    .dateNews{
        /*color: #F4B429;*/
    }
    .newsStructure li h3{
        color: #004379;
        padding: 0;
        margin: 0;
        
    }
    
    .extraNewsInfo {
        height: fit-content;
    }
    /*WHERETOFINDUS*/
    .containerBodyWhereToFindUs {
        padding-top: 20px;
    }
    .whereToFindUsParagraph {
        margin-left: 6%;
    }

    /*FOOTER*/
    .containerFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#004379;
        color: white;
        width: 100%;
        margin: 0;
        position: relative;
        box-sizing: border-box;
        /*padding: 20px;*/   
    }

    .footerInfo{
        display: flex;
        /*flex-direction: row;*/
        list-style: none;
        justify-content: space-between;
        flex-grow: 1;

    }

    .footerInfo li p a{
        color: white;
        text-decoration: none;
    }

    /*.footerInfo li{
        margin-right: 20px;
    }*/


    .containerSocialMediaElements{
        display: flex; 
        /*flex-direction: row; /*Put the elements of the list in a row*/
        list-style: none;
        align-content: flex-end;
        justify-content: flex-end;
    }

    .socialMediaElementsIcons{
        width: 50px;
        height: 50px;
    }

    .containerLinksElements{
        text-align: center;
        padding-left: 120px;
    }


    .footerInfo li p{
        padding-top: 15px;
    }




