/* WEB THINGS (Doesn't matter the section)*/
.sectionTitles{
    padding-left: 6%;
    color: #004379;
    font-size: 40px;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body h2, body h3{
    padding-left: 10px;
}

.containerBody{
    width: 100%;
}

/******************************************/
/*WHO WE ARE*/
.containerBodyWhoWeAre {
    /*Position*/
    padding-top: 100px;

    /*Text*/
    text-align: left;
}

/*WHO WE ARE MAIN TITLE*/
#WhoWeAreTitle {
    /*Color*/
    opacity: 0;
    font-size: 0;
}

/*WHO WE ARE BACKGROUND VIDEO*/
#VideoWhoWeAre {
    /*Position*/
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;

    /*Size*/
    width: 100%;

    /*Color*/
    filter:brightness(0.5) blur(7px);
    opacity: 0.8;
}

/*WHO WE ARE LOGOS*/
.containerBodyWhoWeAre ul {
    /*Position*/
    padding: 0;
    margin-bottom: 0;

    /*Display*/
    display: flex;    
    justify-content: center;

    /*Text*/
    text-align: center;
    list-style-type: none; 
}
/*WHO WE ARE LOGOS SIZE*/
.containerBodyWhoWeAre ul li {
    /*Size*/
    width: 33%;
}
/*WHO WE ARE LOGOINNOVA*/
#RectangleLogoInnova {
    /*Position*/
    margin-top: 60%;
    margin-left: 15%;
    padding: 3%;

    /*Size*/
    width: 80%;

    /*Color*/
    background-color: #dbdbdb;
    border-radius: 10px 0 0 10px;
}

/*WHO WE ARE INNOVA CLICK*/
#InnovaKnowMore {
    /*Position*/
    position: absolute;
    padding-top: 5px;
    padding-right: 7px;

    /*Color*/
    border-radius: 10px;
    color: #004379;
}
/*WHO WE ARE INNOVA TEXT HOVER*/
#InnovaKnowMore:hover {
    cursor: pointer;
}
/*WHO WE ARE INNOVA TEXT*/
#InnovaKnowMoreText {
    /*Position*/
    z-index: -1;
    position: absolute;
    top: 250px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;

    /*Size*/
    width: 500px;
    height: 450px;

    /*Color*/
    background-color: #F4B429;
    border-radius: 10px 0 0 10px;
    opacity: 0;
}
/*LINK TO INNOVA'S PAGE*/
#LinkInnova {
    /*Color*/
    color: #004379;

    /*Text*/
    text-decoration: none;
    font-weight: bold;
}
/*LINK TO INNOVA'S PAGE HOVER*/
#LinkInnova:hover {
    cursor: pointer;
}

/*WHO WE ARE LOGOINNOVA*/
#LogoInnova{
    /*Position*/
    margin-left: -30%;

    /*Size*/
    width: 70%;

    /*Animation*/
    animation: slideinrightLogo 2.5s ease-in-out;
}

/*WHO WE ARE CONTAINER LOGOUPM*/
#RectangleLogoUpm {
    /*Position*/
    margin-top: 15%;
    margin-left: -5%;
    margin-right: 40%;
    padding: 3%;

    /*Size*/
    width: 90%;

    /*Color*/
    background-color: #dbdbdb;
    border-radius: 0 10px 10px 0;

    /*Animation*/
    animation: slideinleftRectangle 2.5s ease-in-out;
}
/*WHO WE ARE LOGOUPM*/
#LogoUpm{    
    /*Position*/
    margin-left: 30%;

    /*Size*/
    width: 70%;

    /*Animation*/
    animation: slideinleftLogo 2.5s ease-in-out;
}

/*WHO WE ARE LOGOCATEDRA*/
#LogoCatedra{
    /*Position*/
    margin-top: -10%;
    margin-left: -25%;

    /*Size*/
    width: 150%;

    /*Animation*/
    transition: opacity 0.5s ease-in-out;
}

/*WHO WE ARE INTRODUCTION CONTAINER*/
#IntroductionContainer {
    /*Position*/
    z-index: 2;
    text-align: center;
}
/*WHO WE ARE INTRODUCTION*/
#Introduction {
    /*Position*/
    z-index: 2;
    padding: 20px;

    /*Text*/
    text-align: center;
    color: #EEEEEE;
    font-weight: bold;
    margin-top: 0;

    @media (min-width: 1000px) {
        font-size: 32px;
    }

    @media (max-width: 650px) {
        color: #000000;
    }
}

/*WHO WE ARE SLOGAN CONTAINER*/
#SloganContainer {
    /*Position*/
    z-index: 1; 
    margin-bottom: 0;

    /*Color*/
    border-bottom: 5px solid #004379;
}
/*WHO WE ARE SLOGAN*/
#Slogan{
    /*Position*/
    padding-top:180px;
    padding-bottom: 100px;

    @media (max-width: 650px) {
        padding-top: 80px;
        padding-bottom: 30px;
    }

    /*Color*/
    color: #004379;

    /*Text*/
    font-weight: bold;
    font-style: italic;
    font-size: 55px;
    text-align: center;

    /*Animation*/
    animation: fadeIn 3s ease-in-out;
}

/******************************************/
/*OUR PURPOSE*/
.disapearTitle {
    font-size: 0;
}

.containerBodyOurPurpose {
    padding-top: 20px;
    background-color: white
}

.containerBodyOurPurpose ul {
    text-align: center;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*The items can be in diferents rows*/

    list-style-type: none; /*Erase the dots of the begginning*/
    padding: 0;
    margin: 0.9%;
}

.containerBodyOurPurpose ul li{
    @media (max-width: 500px) {
        width: 100%;
        margin-bottom: 2%;
      }
      
}


.purposeTitle{
    color: #004379;
}

.image-container {
    z-index: 1;
    position: relative; /* Importante para posicionar el tooltip */
    display: inline-block; /* Para que el tooltip abarque solo el tamaño de la imagen */
    
    @media (max-width: 500px) {
        width: 100%;
        margin: 0;
    }
    @media (min-width: 501px) {
        
        height: 290px;
        width: 290px;
    }
}

/* Estilo del tooltip */
.tooltip {
    position: absolute;
    background-color: #FFFFFF;
    /*background-color: #004379;*/
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    visibility: hidden; /* Ocultar el tooltip inicialmente */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    @media (max-width: 500px) {
        height: 100%;
    }
    @media (min-width: 501px) {
        
        height: 105%;
    }
    overflow-y: auto; /* Agrega un scroll vertical si es necesario */
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 0;
}

.tooltip p {
    color: #004379;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 18px;
}

.tooltip::-webkit-scrollbar {
    width: 0;
}

/* Estilo del tooltip cuando se pasa el cursor sobre la imagen */
.image-container:hover .tooltip {
    visibility: visible; /* Mostrar el tooltip */
    opacity: 1;
}

.iconsOurPurpose{
    height: 90%;
    width: 90%;
}

.highlightY{
    font-weight: bold;
    /*0color: #F4B429;*/
    font-size: 19px;
}


/******************************************/
/*TEAM*/
.containerBodyTeam {
    /*Position*/
    padding-top: 20px;
    margin-left: -10px;
}

/*TEAM CONTAINER*/
.containerBodyTeam ul {
    /*Position*/
    /*padding-top: 30px;/*TODO:*/
    padding-left: 0px;

    /*Display*/
    display: flex;
    justify-content: space-around;

    /*Text*/
    text-align: center;
    list-style-type: none; /*Erase the dots of the begginning*/
}

/******************************************/
/*EXALUMNI*/
.containerBodyUPM {
    padding-top: 20px;
    margin-top: 5%;
}

.exAlumniInfoContainer{
    background-color: #004379;
    margin-right: 9%;
    margin-left: 9%;
}

.subSectionTitle{
    /*padding-left: 6%;*/
    color: #004379;
    font-size: 32px;
    text-align: center;
}

.exAlumni{
    display: flex;
    flex-direction: row;
    background-color: #004379;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    height: 100%;
}


.exAlumniInfoContainer ul li{
    list-style-type: none;
    margin-left: 2%;
    margin-right: 2%;
    
}

.experienceInnova-TSNContainer, .personalInfoExAlumni, .exAlumniPhotoContainer{
    width: 30%;
}

.exAlumniPhotoContainer{
    align-items: center; /* Agrega esta línea para centrar verticalmente la imagen */
    justify-content: center;
    height: 100%;
}

.exAlummniPhoto{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.personalInfoExAlumni{
    margin: 0;
    text-align: center;
    width: auto;
    margin-bottom: 5%;
}

.personalInfoExAlumni h4{
    color:#F4B429 ;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.upmDegree{
    font-weight: bold;
    text-align: center;
}

.positionInnova-TSN{
    font-weight: bold;
}

.experienceInnova-TSNContainer{
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
    margin-top: 2%;
    margin-bottom: 2%;
}

.experienceInnova-TSN{
    margin-top: 0;
    font-style: italic;
}

.buttonRightLi, .buttonLeftLi {
    display: flex;
    align-items: center;
}

.buttonExAlumni
{
    height: 50%;

    font-size: 300%;
    color: white;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: #0a5a9c;

    border-color: #004379;
    border-radius: 5px;
    border-width: 1.5px;

}

#ButtonLeftExAlumni{

}

#ButtonRightExAlumni{

}

/*Mobile exAlumni*/

.exAlumniMobile{
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.exAlumniPhotoContainerMobile, .experienceInnova-TSNContainerMobile, .personalInfoExAlumniMobile{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1.25%;
    margin-top: 1.25%;
}

.exAlumniContainerButtonsList{
    height: 33%;
    margin: 0;
}

.exAlummniPhotoMobile{
    width: 100%;
}

.experienceInnova-TSNMobile{
    color: #FFFFFF;
}

.personalInfoExAlumniMobile p{
    color: #FFFFFF;
}

.personalInfoExAlumniMobile h4{
    color: #F4B429;
}

/*LINEOFRESEARCH*/
.containerBodyLineOfResearch {
    padding-top: 20px;
}

/*EVENTS*/
/*EVENTS*/
.containerBodyEvents {
    padding-top: 20px;
}
.eventsFrame{
    width: 90%; /* width of the div */
    height: 400px; /* height of the div */
    overflow: auto; /* Allows to scroll in the div */
    background-color: #EEEEEE;
    background-color: #004379;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.eventsFrame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.eventsFrame::-webkit-scrollbar:vertical {
    width:10px;
}

.eventsFrame::-webkit-scrollbar-button:increment,.eventsFrame::-webkit-scrollbar-button {
    display: none;
} 

.eventsFrame::-webkit-scrollbar:horizontal {
    height: 10px;
}

.eventsFrame::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #004379;
}

.eventsFrame::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.yearEvents, .monthsEvents, .monthsEventsList{
    list-style-type: none;
}
.monthsEventsList {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila */
    list-style: none;
    padding: 0;
    
  }
.events{
    background-color: #F4B429;
    height: 150px;
    width: 200px;
    margin-right: 50px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Oculta cualquier desbordamiento del contenido */
    position: relative; /* Añade posición relativa al botón */
}

.events .eventDescription{
    flex: 1;
}
.eventsLine{
    border-color: #F4B429; /*Color de las lineas que separan meses y años*/
}
/*How to style de years*/
.yearEvents h3{
    font-size: 20px;
    color: #F4B429;
    font-weight: bold;
}
/*How to style de months*/
.monthsEvents li h4{
    font-size: 18px;
    color: #F4B429;
}
/*How to style de days and hours*/
.monthsEventsList li h5{
    font-size: 12px;
    margin-bottom: 5%;
    padding-bottom: 0;
    color: #004379;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 3%;
    font-weight: bold;
}

.events p{
    color: #004379;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    margin-right: 3%;
    font-weight: normal;
}

.events div{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    
}

.eventsButton{
    background-color:#004379;
    color: #FFFFFF;
    height: 100%;
    width: 75%;
    text-align: center;
    border-radius: 5px; /*Redondear los bordes*/
}

/*Popup del evento*/
.popupEventos{
    height: 55%;
    width: 55%;
    /*Coloca en el centro de la pantalla y no se mueve*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*Diseño*/
    background-color:rgba(0, 67, 121, 1);
    z-index: 1001;

    display:inline;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.titlePopUp{
    color: #F4B429;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.divButtonClosePopUp{
    width: 100%;
    text-align: right;
}

.buttonClosePopUp{
    margin-right: 1%;
    margin-top: 1%;
    width: 54px;
    height: 54px;
    font-size: 24px;
    background-color: #F4B429;
    color: #004379;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.popupEventos p{
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    margin-right: 15%; 
    margin-left: 15%; 
}

.descripcionEventoPopUp{
    
    /* Estilo adicional para centrar verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%; 
    margin-top: 5%; 
    margin-bottom: 5%; 
    margin-right: 15%; 
    margin-left: 15%; 
    text-align: center;
}


/*NEWS*/
.containerBodyNews {
    padding-top: 20px;
  }
  .listNews li a{
    text-decoration: none;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    
  }
  .listNews{
    list-style-type: none;
    /*display: flex;*/
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .listNews li{
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  
  .newsPanel{
    color: black;
    text-decoration: none;
    background-color: #FFFFFF;
    background-color: #F4B429;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0;
    padding: 0;
  }
  .newsStructure{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    /*justify-content: space-between; /* Distribuye los elementos de manera equidistante */
    margin: 0; /* Elimina el margen exterior de la lista */
    padding: 0; /* Elimina el relleno de la lista */
  
    width: 100%;
    height: 100%;
  }
  .newsStructure li {
    flex-basis: calc(33.33% - 5%); /* Establece el ancho de cada elemento (1/3 del ancho con un espacio de 10px entre ellos) */
    text-align: center; /* Centra el contenido horizontalmente */
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center;
  }
  
  
  .newsImages{
    width: 80%;
    height: 80%;
    margin: auto; /* Centra la imagen horizontal y verticalmente */
  }

    .dateNews{
        font-weight: bold;
    }
    .newsStructure li h3{
        color: #004379;
        padding: 0;
        margin: 0;
        
    }
    
    .extraNewsInfo {
        height: fit-content;
    }

    .newsStructureMobile{
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        
        flex-direction: row;
    }

    .newsStructureMobile li{
        display: flex;
        flex-direction: column; /* Apila los elementos verticalmente */
        margin: 0;
        flex-basis: calc(50% - 5%); /* Establece el ancho de cada elemento */
        margin-right: 5%;
    }

    .newsStructureMobile li h3{
        font-size: 16px;
        color: #004379;
        padding: 0;
        margin: 0;
        margin: auto;
        margin: 9%;
    }

    .newsStructureMobile li p{
        font-size: 12px;
        margin: 9%;
    }
    .newsImagesMobile{
        width: 80%;
        height: 60%;
        margin: auto; /* Centra la imagen horizontal y verticalmente */
    }

    /* Estilos adicionales para tamaños específicos de pantalla utilizando Media Queries */
    @media screen and (min-width: 751px) and (max-width: 950px) {
        .newsImagesMobile {
            width: 70%;
            height: 60%;
            /* Agrega tus estilos específicos para el rango de 751px a 1200px aquí */
        }
    }

    @media screen and (min-width: 951px) and (max-width: 1100px) {
        .newsImagesMobile {
            width: 60%;
            height: 60%;
            /* Agrega tus estilos específicos para el rango de 751px a 1200px aquí */
        }
    }

    @media screen and (min-width: 1101px) and (max-width: 1200px) {
        .newsImagesMobile {
            width: 50%;
            height: 60%;
            /* Agrega tus estilos específicos para el rango de 751px a 1200px aquí */
        }
    }

    /*WHERETOFINDUS*/
    .containerBodyWhereToFindUs {
        padding-top: 20px;
    }
    .whereToFindUsParagraph {
        margin-left: 6%;
    }

    .containerBodyWhereToFindUs p{
        padding-left: 10px;
        padding-bottom: 15px;
    }

    .contentWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .contactMap {
        width: 45%;
        border-radius: 15px;
        overflow: hidden; 
        margin: 0 auto;
        text-align: center; 
        padding-bottom: 20px;
        height: 430px;
    }
    
    .embeddedVideo {
        object-fit: fill;
        object-position: 0 -750px;
        border-radius: 15px;
        margin: 0 auto;
    }

    /*FOOTER*/
    .containerFooter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:#004379;
        color: white;
        width: 100%;
        margin: 0;
        position: relative;
        box-sizing: border-box;
        /*padding: 20px;*/   
    }

    .footerInfo{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        /*padding: ;*/
        width: 100%;
    }

    .footerInfo li{
        width: 30%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .footerInfo li p a{
        color: white;
        text-decoration: none;
    }


    .containerSocialMediaElements{
        width: 100%;
        list-style: none;
        justify-content: start;
        padding: 0;
        margin: 0;
    }

    .socialMediaElementsIcons{
        width: 50px;
        height: 50px;
    }

    .LogoIcons1{
        width: 150px;
    }

    .LogoIcons2{
        width: 70px;
    }

    @media (max-width: 500px) {
        .LogoIcons1 {
            display: none;
        }
        
        .LogoIcons2 {
            display: none;
        }
    }

    .containerLinksElements{
        text-align: center;
    }


    .footerInfo li p{
        padding-top: 15px;
    }




