/*INICIO*/
.bg-image {
    background-image: url('/images/'); /* Reemplaza con tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Capa oscura semitransparente */
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organiza el contenido en columna */
}