.sectionTitles{
    padding-left: 6%;
    color: #004379;
    font-size: 40px;
    margin-bottom: 0.5%;
}


/*INICIO*/
.bg-image {
    background-image: url('/images/tryit/portadaTryIt.jpeg'); /* Reemplaza con tu imagen de fondo */;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
}

.bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Ajusta la opacidad aquí */
  }

.overlay {
    background-color: rgba(148, 148, 148, 0.5); /* Capa oscura semitransparente */
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Organiza el contenido en columna */
}

/*NUESTRA PARTICIPACIÓN*/
#NuestraParticipacionTryIT{
    padding-top: 3%;
}


.daysLine{
    border-color: #F4B429; /*Color de las lineas que separan meses y años*/
}

.purposeTitle{
    color: #004379;
}

.leftTitle{
    text-align: left;
    padding-left: 2.5%;
}

.rightTitle{
    text-align: right;
    padding-right: 2.5%;
}

.posterConferencia{
    background-color: #004379;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid #F4B429;
}

.row{
    color: white;
}

.columnaInfo p{
    padding-left: 3%;

}

.confFecha, .confUbi, .confHora{
    padding-left: 3%;
    margin-bottom: 0;
    text-align: center;
    font-style: italic;
}

.confDescripcion{
    text-align: justify;
    padding-top: 3%;

}

.confDescripcionDoble{
    text-align: center;
    padding-top: 3%;
}

.confTitle{
    color: #F4B429;
    margin-bottom: 1%;
    text-align: center;
    margin-top: 4%;
}

.columnaFoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgConf{
    padding: 3%;
    height: 70%;
    width: 70%;
}

.columnaFoto p{
    margin: 0;
    padding: 0;
    text-align: center;
}

.columnaFoto figcaption{
    margin-bottom: 3%;
}

.confPuesto
{
    font-size: 0.8em;
    font-style: italic;
}

.confNombre{
    color: #F4B429;
    margin: 0;
    text-align: center;
}
#stands{
    margin-bottom: 4%;
}
.textoStandInnova{
    margin: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 24px;
    color: #004379;
}

/*Recuerdos*/
#Recuerdos{
    background-color: #004379; 
    
}

.containerCarousel{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

#Recuerdos h2{
    align-self: start;
    color: #F4B429; 
    font-size: 40px; 
    padding: 0.75%;
    padding-left: 6%;
}

/*Inscribete*/
#TextoTryIT{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #004379;
}

/*FOOTER*/
.containerFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#004379;
    color: white;
    width: 100%;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    /*padding: 20px;*/   
}

.footerInfo{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    /*padding: ;*/
    width: 100%;
}

.footerInfo li{
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

.footerInfo li p a{
    color: white;
    text-decoration: none;
}


.containerSocialMediaElements{
    width: 100%;
    list-style: none;
    justify-content: start;
    padding: 0;
    margin: 0;
}

.socialMediaElementsIcons{
    width: 50px;
    height: 50px;
}

.LogoIcons1{
    width: 150px;
}

.LogoIcons2{
    width: 70px;
}

@media (max-width: 500px) {
    .LogoIcons1 {
        display: none;
    }
    
    .LogoIcons2 {
        display: none;
    }
}

.containerLinksElements{
    text-align: center;
}


.footerInfo li p{
    padding-top: 15px;
}

