#ContainerUPM {
    margin-top: 90px;
    background-color: #ffffff; 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

h1 {
    padding-top: 5px;
}

section {
    margin: 1em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px; 
}

.sectionTitles {
    color: #004379; 
    margin-bottom: 0.5em;
}

p {
    text-align: justify; 
    margin-bottom: 1em;
    padding-bottom: 10px;
}

iframe {
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}
